#TechContentContainer {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#leftProjectBoxesContainer {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* don't set explicit height here so we can control the vertical gap between boxes */
}

#RightDescriptionContainer {
  width: 50vw;
  height: 100vh;
  margin-right: 5vw;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
#TechTextContainer {
}
#TechTextContainer {
  height: 75vh;
  text-align: right;
}
#TechTextContainer p {
}

#TechDividor_1 {
  height: 2px;
  width: 7vw;
  background-color: #aab2c1;
  display: inline-block;
  margin-bottom: 5vh;
}

#TechItemContainer {
  text-align: left;
  margin-right: 5vw;
}

#TechItemContainer p {
  margin-bottom: 7vh;
}
