.AboutMeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background-color: #fff6f6;
}

#AboutMePhotoWrapper {
  margin-left: 5vw;
  /* this height is used to adjust the vertical offset of the actual photogallery and the arrows in the photo gallery */
  height: 85vh;
}

#TextContainer {
  display: block;
  text-align: start;
  font-size: 2vh;
  height: 70vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

#TextContainer p {
  display: block;
  text-align: start;
}

#AboutME_Dividor_1 {
  height: 2px;
  width: 10vw;
  background-color: #ffc0c0;
  display: inline-block;
}
