.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 100vh;
  width: 100vw;
  background-color: #fff2f2;
}

.ColumnCenterContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.SideBySideContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* adjust the height to determine how much vertical basis
    having a vertical size set the size of the photo frame won't change the bias no more  */
  height: 85vh;
}

#TextContainer {
  display: block;
  text-align: left;
  font-size: 2vh;
  width: 45vw;
  padding-left: 60px;
}

p {
  display: block;
  line-height: 1.5em;
  text-align: start;
}

#AboutME_Dividor_1 {
  height: 2px;
  width: 15vw;
  background-color: #ffc0c0;
  display: inline-block;
}
