.AboutMeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  height: 100vh;
  width: 100vw;
}

.ColumnCenterContainer {
  display: inline-flex;
  flex-direction: column;
  background-color: aqua;
  justify-content: center;
}

.SideBySideContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* adjust the height to determine how much vertical basis
    having a vertical size set the size of the photo frame won't change the bias no more  */
  height: 85vh;
  background-color: rebeccapurple;
}

#TextContainer {
  display: block;
  text-align: left;
  font-size: 2vh;
  width: 45vw;
  padding-left: 50px;
}

p {
  display: block;
  text-align: start;
}
