#PhotoGalleryContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.ImageContainer {
  background-color: white;
  width: 45vh;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 2vh;
  box-shadow: 3px 3px 0px #595959;
}
.PixelImage {
  margin: 0%;
  display: block;
  height: 24px;
  width: 24px;
}

.Image {
  /* This photo has width:height ratio of 4:3 */
  height: 60vh;
  width: 45vh;
}

.ImgDescription {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5vh;
}
