#PhotoGalleryContainer {
  /* this is used to put the arrows next to the photo */
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  /* must define a height for the container so the relative position of arrows work */
  height: 100%;
}

.ImageContainer {
  background-color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  /* gap between white frame and arrows */
  margin-left: 15px;
  margin-right: 15px;
  font-size: 2vh;
  box-shadow: 3px 3px 0px #595959;
}
#RightArrowPixelImage {
  /* override flex position inherited from parent */
  position: relative;
  top: 45%;
  margin: 0%;
  height: 24px;
  width: 24px;
}

#LeftArrowPixelImage {
  /* override flex position inherited from parent */
  position: relative;
  top: 45%;
  margin: 0%;
  height: 24px;
  width: 24px;
}
